<section class="msn-footer__group msn-footer__group--categories" data-msn-accordion>
  <button class="msn-footer__title" type="button" aria-expanded="true" aria-controls="msn-footer-categorias" data-msn-accordion-trigger>Categorias</button>
  <nav id="msn-footer-categorias" class="msn-footer__links">
    <a href="/categoria-produto/impressora/">Impressoras</a>
    <a href="/categoria-produto/toner/">Toners</a>
    <a href="/categoria-produto/cartucho/">Cartuchos</a>
    <a href="/categoria-produto/sulfite/">Sulfite</a>
    <a href="/loja/?orderby=date">Novidades</a>
  </nav>
</section>
