<section class="msn-footer__group msn-footer__group--policies" data-msn-accordion>
  <button class="msn-footer__title" type="button" aria-expanded="true" aria-controls="msn-footer-politicas" data-msn-accordion-trigger>Politicas e seguranca</button>
  <nav id="msn-footer-politicas" class="msn-footer__links">
    <a href="/politica-de-privacidade/">Politica de privacidade</a>
    <a href="/politica-de-devolucao/">Trocas e devolucoes</a>
    <a href="/carrinho/">Carrinho</a>
    <a href="/minha-conta/">Minha conta</a>
    <span class="msn-footer__trust">Compra protegida por WooCommerce e HTTPS</span>
  </nav>
</section>
